<div class="card">
    <div class="card-body">
        <form [formGroup]="orderForm">
            <div class="row">
                <div class="col-md-3 mb-3">
                    <label class="form-label">Billing</label>
                    <input type="text" class="form-control" placeholder="Enter Billing"
                        formControlName="billingAddress" />
                </div>
                <div class="col-md-3 mb-3">
                    <label class="form-label">Shipping Address</label>
                    <ngx-select-dropdown [config]="config" [options]="shippingList" formControlName="shippingAddress" (change)="onChangeShippingAddress($event)">
                    </ngx-select-dropdown>
                </div>
                <div class="col-md-3 mb-3">
                    <label class="form-label">Billing Date</label>
                    <input type="date" class="form-control" formControlName="billingDate" />
                </div>
                <div class="col-md-3 mb-3">
                    <label class="form-label">Created Date</label>
                    <input type="date" class="form-control" formControlName="createdDate" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="overflow-auto">
                        <div id="datatable_wrapper">
                            <table class="table table-striped nowrap" style="width: 100%">
                                <thead>
                                    <tr role="row">
                                        @for (vehicleHeading of columns; track $index) {
                                        <th>
                                            <span>{{ vehicleHeading?.title }}</span>
                                            @if(vehicleHeading.hasButton) {
                                                <button class="btn btn-sm btn-primary ml-2" (click)="onQtyButtonClick()">
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            }
                                        </th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>{{requestOrderDetails?.length ? this.requestOrderDetails[0]?.subCategoryName : 'NA'}}</td>
                                        <td><input class="form-control" type="text" formControlName="hsn" /></td>
                                        <td><input class="form-control" type="text" formControlName="reqQty" /></td>
                                        <td><input class="form-control" type="text" formControlName="saleQty" /></td>
                                        <td><input class="form-control"  type="number" formControlName="rate"  /></td>
                                        <td><input class="form-control"  type="number" formControlName="amt" /></td>
                                        <td><input class="form-control" type="number" formControlName="discount" /></td>
                                        <td><input class="form-control" type="number" formControlName="disAmount" /></td>
                                        <td><input class="form-control" type="number" formControlName="totalAmount" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-3">
                    <h2>{{this.taxSlabData?.gsT_NAME}} Tax Slab</h2>
                </div>
                <div class="col-md-12">
                    <div class="overflow-auto">
                        <div id="datatable_wrapper">
                            <table class="table table-striped nowrap" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>CGST</th>
                                        <th>CGST Amount</th>
                                        <th>SGST</th>
                                        <th>SGST Amount</th>
                                        <th>IGST</th>
                                        <th>IGDT Amount</th>
                                        <th>Total Tax</th>
                                        <th>Net Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{this.taxSlabData?.cgst ?this.taxSlabData?.cgst : 0 }}</td>
                                        <td>0.00</td>
                                        <td>{{this.taxSlabData?.sgst ? this.taxSlabData?.sgst : 0 }}</td>
                                        <td>0.00</td>
                                        <td>{{this.taxSlabData?.igst ? this.taxSlabData?.igst :0 }}</td>
                                        <td>0</td>
                                        <td>0.00</td>
                                        <td>0.00</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>                   
                  
                </div>
                <div class="col-md-12 text-end">
                    <button class="btn btn-primary"><i class="fa fa-plus pr-2" aria-hidden="true"></i>
                        Add</button>
                </div>
            </div>
        </form>
    </div>
</div>